body {
    background-color: #cdcdcd;
}

#envoieform {
    background-color: #cdcdcd;
    border-radius: 10px;
    border: 0 solid;
    font-size: 16px;
    padding: 5px 5px 5px 5px;
    margin: 5px 0 0 auto;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.75)
}

#formulaire {
    z-index: 0;
    margin: 30px auto 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    bottom: 40px;
    width: 250px;
}

#nom {
    padding: 5px 0 5px 0;
    border: 0 solid;
}

#mail {
    padding: 5px 0 5px 0;
    border: 0 solid;
}

#sujet {
    padding: 5px 0 5px 0;
    border: 0 solid;
}

#message {
    padding: 5px 0 0 0;
    border: 0 solid;
}

.form {
    padding: 8px 0 0 0;
}

#erreur {
    display: none;
}